@{
    Layout = "~/Views/Shared/template/_Layout.cshtml";
}

@section content {

    <link href="~/Content/CustomPanel.css" rel="stylesheet" />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-3 col-md-6"><p style="font-weight:bold;">You don't have access to this module. Contact the administrator.</p></div>
            </div>
        </div>
    </div>
}

@section JavaScript {
    
    <script src="~/Scripts/pages/error.js"></script>
}